body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}
.container {
    background: white;
    padding: 20px;
    max-width: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(139, 30, 116, 0.1);
}
input, select, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
button {
    background-color: #fdb3f7;
    color: black;
    border: none;
    cursor: pointer;
}
